/**
 * @author ©Towns.cz
 * @fileOverview Style for body, html
 */
//======================================================================================================================


* {
  outline: none;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  overflow: hidden;
}

body {
  width:100vw;
  height:100vh;
  overflow: hidden;

  background-color: #eeeeff;
  margin: 0px;

}

