/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================
@import 'config.scss';




@mixin button($size) {

  display: inline-block;
  border: none;
  display: block;
  padding: 0 $size/4;
  margin: $size/4 auto;
  height: $size;
  line-height: $size;
  font-size: 8+$size/40*8;
  border-radius: 3px;
  background-color: $button-color;
  color: white;
  cursor: pointer;


  &:hover{

    background-color: $button-color-hover;

  }


}


