/**
 * @author �Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================


hr {

  color: #777777;
  background-color: #777777;
  height: 1px;
}


/*
input, textarea {
    -moz-user-select: text;
}
*/



button{

  display: inline-block;
  border: none;
  display: block;
  padding: 0 10px;
  margin: 10px auto;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer;

}