/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================


@mixin button($size) {

  display: inline-block;
  border: none;
  display: block;
  padding: 0 $size/4;
  margin: $size/4 auto;
  height: $size;
  line-height: $size;
  font-size: $size/40*16;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer;

}


