/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
//======================================================================================================================


$debug_lines: false;
$night: false;//todo create night mode

//---------------------------------------------COLORS

//todo refactor remove this colors from all other spaces
$button-color: #0098ff;
$button-color-hover: #007FE6;


$info-color: #0098ff;
$success-color: #0098ff;//todo color
$error-color: #0098ff;//todo color

//---------------------------------------------SIZE