/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
//======================================================================================================================


//---------------------------------------------COLORS

$button-color: #333;




//---------------------------------------------SIZE