/**
 * @author Towns.cz
 * @fileOverview Other styling
 */
//======================================================================================================================
@import 'config.scss';
@import 'components.scss';


.hide {
  display: none;
}


.left {
  float: left;
}

.right {
  float: right;
}

.cleaner {
  clear: both;
}



