/**
 * @author ©Towns.cz
 * @fileOverview Other styling
 */
//======================================================================================================================



.hide {
  display: none;
}


.left {
  float: left;
}

.right {
  float: right;
}

.cleaner {
  clear: both;
}



