/**
 * @author �Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================
@import 'config.scss';
@import 'components.scss';




hr {

  color: #777777;
  background-color: #777777;
  height: 1px;
}


/*
input, textarea {
    -moz-user-select: text;
}
*/



button{

  @include button(40px);
}