/**
 * @author Towns.cz
 * @fileOverview Style for main top menu
 */
//======================================================================================================================
@import 'config.scss';
@import 'components.scss';


.menu {
  z-index:5000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: black;
  background-color: rgba(0,0,0,0.85);
  /*border-bottom: 1px solid black;*/
}


.menu-logo {
  float: left;
  width: auto;
  height: 60px;
  margin: 0;
}

.menu-logo > img {
  height: 60px;
  width: auto;
}

.menu-list {
  display: block;
  margin: 0;
  padding: 0;
}

.menu-list-left {
  float: left;
}

.menu-list-right {
  color: #cccccc;
  float: right;
  margin-right: 5px;
}

.menu-list-item {
  float: left;
  display: block;
  list-style: none;
  position: relative;
}

.menu-list-item > a {
  display: block;
  width: auto;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  border-right: 1px solid rgba(84, 84, 84, 0.51);
  height: 60px;
  line-height: 60px;
  color: lightgray;
  text-transform: capitalize;
}

.menu-list-item > a:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  padding-top: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(186, 186, 186, 0.80);
}

.menu-list-item:hover > a {
  color: white;
  background-color: black;
}

.menu-list-item:last-of-type > a {
  border: none;
}

.menu-list-item-registration > a,
.menu-list-item-registration:hover > a  {
  display: block;
  color: white;
  background-color: #0098ff;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-list-item-registration > a:after {
  display: none;
}

.menu-list-item-registration > a:hover {
  background-color: #007fe6;
}

.menu-list-item-icon {
  display: block;
  padding: 0;
  margin: 10px 5px;
  text-decoration: none;
  height: 40px;
  width: 40px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;

  border-radius: 50%;
}

.menu-list-item-icon > img {
  vertical-align: bottom;
  width: 20px;
  height: auto;
}

.menu-list-item-icon:hover {
  background-color: black;
}


.menu-dlist {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: black;
  background-color: rgba(0,0,0,0.85);
}

.menu-list-item:hover .menu-dlist {
  display: block;
}

.menu-dlist-item {
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(84, 84, 84, 0.51);
}

.menu-dlist-item > a {
  display: block;
  margin: 0;
  padding: 0 10px;
  min-height: 40px;
  line-height: 40px;
  width: 150px;
  text-decoration: none;
  color: lightgrey;
}

.menu-dlist-item:hover > a {
  color: white;
  background-color: black;
}




