/**
 * @author �Towns.cz
 * @fileOverview Layout for special cursor
 todo refactor rename this file to special-cursor.scss
 */
//======================================================================================================================
@import 'config.scss';
@import 'components.scss';


#selecting-distance{

  position:absolute;
  z-index: 3500;
  cursor: crosshair;
  /*border: 2px solid rgba(100,100,100,0.5);*/
}


#selecting-distance-ctl{
  position:absolute;
  top:70px;
  left:70px;
  padding: 4px;
  background-color: #999999;
  box-shadow: #000000 0 0 3px 0;
  border-radius: 3px;
  z-index: 3600;
}


.mini-button{

  border: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  font-size: 21px;
  border: 2px solid rgba(50,50,50,0.5);
  border-radius: 3px;
  width: 26px;
  height: 26px;
  text-shadow: #000011;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;

}

.mini-button:hover{
  background-color: rgba(0,0,0,0.65);
}


#color-ctl{
  position:absolute;
  top:150px;
  left:70px;
  /*padding: 4px;
  background-color: #444444;
  box-shadow: #000000 0 0 3px 0;
  border-radius: 3px;*/
  z-index: 3600;
}



