*.mo
*.pot

 *(copy)*
*.old.*

/.htaccess

/index.php
/tmp
/backup
/other
/admin
/userdata
/debug
/api
/timeplan
/app/api/memory/*
/app/adminer/session/*
/app/old*
/app/admin/tmp*
/app/admin/old*
/app/admin/objects/last*.txt
/app/admin/files/*
!/app/admin/files/backup
/app/admin/files/backup/*
!/app/admin/files/backup/small.sql
!/app/admin/files/A.png
!/app/admin/files/B.png


/nbproject
/.idea
