
*desktop.ini

/nbproject
/.idea


 *(copy)*
*.old.*


*.mo
*.pot


npm-debug.log
/node_modules/
/app/css-lib/
/app/js-lib/
/app/fonts/

/cache
/backup
/admin
/userdata


/app/test/*

/app-dist/
documentation
