
*desktop.ini

/nbproject
/.idea


 *(copy)*
*.old.*


*.mo
*.pot


npm-debug.log
/node_modules/
/app/css-lib/
/app/js-lib/
/app/fonts/



#todo is it needed? /app/scss/*.scss



/cache/*
!/cache/.gitkeep

/backup
/admin
/userdata


/app/test/*

/app-dist/
documentation
asd.*
