# Lokalizační soubor pro češtinu v Towns

page:
    title: Towns
    description: Popis pro Sociální sítě a SEO

ui:

    buttons:
        about_game: O hře
        agree: Souhlasím

    prompts:
        cookies: Tento web využívá cookies a LocalStorage. Používáním tohoto webu s tím souhlasíte.

    messages:
        loading: Načítání...


    tool_controls:
        plus: Zvětšit
        minus: Zmenšit
        left: Otočit doleva
        right: Otočit doprava
        close: Zavřít



    menu:
        nature:
            _name: Příroda
            types: Typy
            neutralize: Původní stav

        buildings:
            _name: Budovy
            main: Zakladni
            wall: Hradby
            block: Bloky
            dismantle: Zbourat

        stories:
            _name: Příběhy
            write: Napsat příběh

        data:
            _name: Data
            screenshot: Screenshot
            restart: Restartovat
            export: JSON

        blog:
            _name: Blog


    notifications:
        all_notifications: Všetky notifikácie









object_json: JSON data